@font-face {
    font-family: 'BBH Bartle';
    src: url('/fonts/BBHBartle-Regular.ttf');
}

body {
    font-family: 'BBH Bartle', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
